.hoverLink {
  position: relative;
  padding-bottom: 5px;
  &::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s ease;
  }
  &:hover::after {
    width: 100%;
  }
}
